{% extends 'MyAppApBundle::layout.html.twig' %}
{% block title %}Rendez-vous:{% endblock %}

{% block recherche %}
Recherche à mettre
{% endblock %}

{% block content %}
<div class="loading"></div>
<div id="resultats_recherche"> 
    {% include 'MyAppApBundle:Rdv:liste.html.twig' with {'pagination' : pagination} %}
        </div>
{% endblock %}
