<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ contrat.contratEstimation }}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/myappap/bootstrap-3.2.0/css/bootstrap.css') }}" type="text/css" media="all" />  
<style>
    .container{
        width: 900px;
        padding-left: 80px;
    }
    @media print
    {
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
</style>
    </head>
    <body>
                        {% block content %}
                        {% endblock %}
                        <br>
            <div id="footer">
                <p>Tous droits réservés © 2014</p>
            </div>
        </div>
    </body> 
</html>